@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #9333ea;
  --color-dark: #1e293b;
  --color-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-light text-dark font-sans antialiased;
  }
}
